# Environment variables
.env.production
.env.staging
.env.development
!.env.template

# Output Environment Variables
deployment.production.env
deployment.staging.env
deployment.development.env

# Terraform
terraform.tfvars
*.tfstate
*.tfstate.backup
.terraform/
.terraformrc
terraform.rc
.terraform.lock.hcl